---
description: {{DESCRIPTION}}
globs: {{GLOBS}}
alwaysApply: {{ALWAYS_APPLY}}
---

rule "{{RULE_NAME}}" {
  type: "{{RULE_TYPE}}"
  when: {{WHEN_CONDITION}}
  {{#if ELEMENT_PATTERN}}
  block.text must_contain: "{{ELEMENT_PATTERN}}"
  {{/if}}
  {{#if REQUIRED_ATTRIBUTE}}
  block.text must_contain: "{{REQUIRED_ATTRIBUTE}}"
  {{/if}}
  {{#if ERROR_MESSAGE}}
  error: "{{ERROR_MESSAGE}}"
  {{/if}}
  {{#if WARNING_MESSAGE}}
  warn: "{{WARNING_MESSAGE}}"
  {{/if}}
}

