---
description: {{DESCRIPTION}}
globs: {{GLOBS}}
alwaysApply: {{ALWAYS_APPLY}}
---

rule "{{RULE_NAME}}" {
  type: "{{RULE_TYPE}}"
  when: {{WHEN_CONDITION}}
  condition: {{CONDITION}}
  {{#if ERROR_MESSAGE}}
  error: "{{ERROR_MESSAGE}}"
  {{/if}}
  {{#if WARNING_MESSAGE}}
  warn: "{{WARNING_MESSAGE}}"
  {{/if}}
}

