---
description: {{DESCRIPTION}}
globs: {{GLOBS}}
alwaysApply: {{ALWAYS_APPLY}}
---

rule "{{RULE_NAME}}" {
  type: "{{RULE_TYPE}}"
  when: {{WHEN_CONDITION}}
  {{#if KEYWORDS}}
  block.text contains "{{KEYWORD_1}}"{{#if KEYWORD_2}} or block.text contains "{{KEYWORD_2}}"{{/if}}{{#if KEYWORD_3}} or block.text contains "{{KEYWORD_3}}"{{/if}}
  {{/if}}
  {{#if MESSAGE}}
  message: |
    {{MESSAGE}}
  {{/if}}
  {{#if WARNING_MESSAGE}}
  warn: "{{WARNING_MESSAGE}}"
  {{/if}}
  {{#if INFO_MESSAGE}}
  message: "{{INFO_MESSAGE}}"
  {{/if}}
}

