---
description: {{DESCRIPTION}}
globs: {{GLOBS}}
alwaysApply: {{ALWAYS_APPLY}}
---

rule "{{RULE_NAME}}" {
  type: "{{RULE_TYPE}}"
  when: {{WHEN_CONDITION}}
  {{#if PATTERN}}
  block.text must_contain: "{{PATTERN}}"
  {{/if}}
  {{#if MUST_NOT_CONTAIN}}
  block.text must_not_contain: "{{MUST_NOT_CONTAIN}}"
  {{/if}}
  {{#if MESSAGE}}
  message: |
    {{MESSAGE}}
  {{/if}}
  {{#if ERROR_MESSAGE}}
  error: "{{ERROR_MESSAGE}}"
  {{/if}}
  {{#if WARNING_MESSAGE}}
  warn: "{{WARNING_MESSAGE}}"
  {{/if}}
}

